<?xml version="1.0" encoding="utf-8"?>

	<Node title="北大青鸟" description="" url="Default.aspx">
		<siteMapNode title="培训中心" description="" url="Default2.aspx">
			<siteMapNode title="ACCP培训" url="~/accp.aspx" description="" />
			<siteMapNode title="BTEST培训" url="~/betest.aspx" description="" />
			<siteMapNode title="BENET培训" url="benet.aspx" description="" />
		</siteMapNode>
	</Node>

