body
{
    text-align:center;
    font-family:楷体_GB2312;
    color:blue;
}

table
{
    width:450px;
    height:120px;    
}
td
{
    border: solid 1px silver;
}
.tdforleft
{
    text-align:left;    /*引用该类选择符的<td>元素中文本左对齐*/
}
