 {
	WORD-BREAK: break-all
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://www.webw3c.org/bodybg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: "Courier New",Courier,monospace
}
A {
	COLOR: #00f; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.input {
	BORDER-RIGHT: #d8d8d8 1px inset; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px ridge; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px ridge; COLOR: #666; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d8d8 1px inset; BACKGROUND-COLOR: #fff
}
.textarea {
	BORDER-RIGHT: #d8d8d8 1px inset; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px ridge; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px ridge; COLOR: #666; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d8d8 1px inset; BACKGROUND-COLOR: #fff
}
.loading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(../images/loading.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 950px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.head {
	HEIGHT: 80px
}
.head .logo {
	MARGIN-TOP: 0px; FLOAT: left; WIDTH: 320px; HEIGHT: 80px
}
.head .logo IMG {
	WIDTH: 320px; HEIGHT: 80px
}
.head .banner {
	MARGIN-TOP: 0px; FLOAT: right; MARGIN-BOTTOM: 2px; WIDTH: 630px; MARGIN-RIGHT: 0px; TEXT-ALIGN: right
}
.menu {
	PADDING-RIGHT: 10px; BORDER-TOP: #d90005 3px solid; PADDING-LEFT: 10px; FLOAT: left; MARGIN-BOTTOM: 3px; WIDTH: 930px; BORDER-BOTTOM: #d90005 1px solid; HEIGHT: 36px; BACKGROUND-COLOR: #fd4031
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu UL LI {
	FLOAT: left
}
.menu UL LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: normal; COLOR: #ffcc00; LINE-HEIGHT: 35px; MARGIN-RIGHT: 0px; PADDING-TOP: 1px; LETTER-SPACING: 2px; TEXT-DECORATION: none
}
.menu UL LI A:hover {
	COLOR: #ffff00; BACKGROUND-COLOR: #ea0c00; TEXT-DECORATION: underline
}
.menu UL LI A.current {
	COLOR: #ffff00; BACKGROUND-COLOR: #ea0c00; TEXT-DECORATION: underline
}
.search {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dashed
}
.search FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.search .sitepath {
	FLOAT: left; WIDTH: 440px; PADDING-TOP: 7px
}
.search .tags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FLOAT: left; WIDTH: 240px; PADDING-TOP: 7px; TEXT-ALIGN: right
}
.search .postbox {
	FLOAT: right; WIDTH: 210px; TEXT-ALIGN: right
}
.search .input {
	BORDER-RIGHT: #d8d8d8 1px inset; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px ridge; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px ridge; COLOR: #333; PADDING-TOP: 4px; BORDER-BOTTOM: #d8d8d8 1px inset; HEIGHT: 20px
}
.search .btn {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; WIDTH: 50px; PADDING-TOP: 4px
}
.main {
	
}
.main .left {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.main .left .index {
	MARGIN-BOTTOM: 2px
}
.main .left .index .pic {
	FLOAT: left; WIDTH: 300px; HEIGHT: 225px
}
.main .left .index .new {
	FLOAT: right; WIDTH: 380px
}
.main .left .index .new UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.main .left .index .new UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px dashed
}
.main .left .index .new UL LI .mtime {
	FONT-SIZE: 12px; COLOR: #ccc
}
.main .left .index .new UL LI .mnow {
	FONT-SIZE: 12px; COLOR: #f00
}
.main .left .index .new UL A {
	COLOR: #333; TEXT-DECORATION: none
}
.main .left .index .new UL A:hover {
	COLOR: #00f
}
.main .left .channel {
	MARGIN: 0px -10px
}
.main .left .channel .node {
	BORDER-RIGHT: #c2c2c2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c2c2c2 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 5px; BORDER-LEFT: #c2c2c2 1px solid; WIDTH: 334px; PADDING-TOP: 1px; BORDER-BOTTOM: #c2c2c2 1px solid
}
.main .left .channel .node .title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #404040; PADDING-TOP: 7px; BORDER-BOTTOM: #ccc 1px dashed; BACKGROUND-COLOR: #f6f6f6
}
.main .left .channel .node .title A {
	COLOR: #333; TEXT-DECORATION: none
}
.main .left .channel .node .title A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.main .left .channel .node .box {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 6px
}
.main .left .channel .node .box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 310px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; TEXT-OVERFLOW: ellipsis
}
.main .left .channel .node .box UL LI {
	BACKGROUND-POSITION: 5px 11px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/li.gif); BACKGROUND-REPEAT: no-repeat
}
.main .left .channel .node .box UL A {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
.main .left .channel .node .box UL A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.main .left .channel .node .pic {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 5px
}
.main .left .channel .node .pic .picsrc {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.main .left .channel .node .pic .picsrc IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.main .left .channel .node .pic .picinfo {
	FLOAT: left; WIDTH: 227px
}
.main .left .channel .node .pic .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #dbdbdb 1px dashed; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.main .left .channel .node .pic .info {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; COLOR: #666666; TEXT-INDENT: 24px; LINE-HEIGHT: 17px; PADDING-TOP: 4px
}
.main .left .channel .node .pic .info .more {
	COLOR: #900; TEXT-DECORATION: none
}
.main .left .list {
	
}
.main .left .list .node {
	MARGIN-BOTTOM: 8px
}
.main .left .list .node .title {
	PADDING-BOTTOM: 6px; PADDING-TOP: 5px; BORDER-BOTTOM: #ebebeb 1px dashed
}
.main .left .list .node .title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.main .left .list .node .title A {
	PADDING-LEFT: 5px; BORDER-LEFT: #d9d9d9 5px solid
}
.main .left .list .node .title A:hover {
	TEXT-DECORATION: underline
}
.main .left .list .node .description {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; COLOR: #555; LINE-HEIGHT: 150%; PADDING-TOP: 8px
}
.main .left .list .node .description P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.main .left .list .node .info {
	PADDING-RIGHT: 18px; FONT-SIZE: 11px; COLOR: #666; LINE-HEIGHT: 20px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-ALIGN: right
}
.main .left .list .node .info SPAN {
	COLOR: #390
}
.main .left .listpic {
	
}
.main .left .listpic .node {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 25%; TEXT-ALIGN: center
}
.main .left .listpic .node .pic {
	
}
.main .left .listpic .node .pic IMG {
	MARGIN: 1px
}
.main .left .listpic .node .pic A {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.main .left .listpic .node .pic A:hover {
	BORDER-RIGHT: #fc0 1px solid; BORDER-TOP: #fc0 1px solid; BORDER-LEFT: #fc0 1px solid; BORDER-BOTTOM: #fc0 1px solid
}
.main .left .listpic .node .url {
	OVERFLOW: hidden; WIDTH: 90%; WHITE-SPACE: nowrap; HEIGHT: 30px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: center
}
.main .left .common {
	COLOR: #333; LINE-HEIGHT: 160%
}
.main .left .common FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.main .left .content {
	
}
.main .left .content H1 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-TOP: 8px
}
.main .left .content .info {
	PADDING-RIGHT: 10px; BORDER-TOP: #e7e7e7 2px solid; FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 30px; BORDER-BOTTOM: #e7e7e7 2px solid; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: right
}
.main .left .content .info SPAN {
	COLOR: #390
}
.main .left .content .area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #333; LINE-HEIGHT: 160%; PADDING-TOP: 10px
}
.main .left .content .prenext {
	PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 10px; OVERFLOW: hidden; LINE-HEIGHT: 40px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.main .left .content .prenext .pre {
	FLOAT: left; WIDTH: 50%
}
.main .left .content .prenext .next {
	FLOAT: right; WIDTH: 50%; TEXT-ALIGN: right
}
.main .left .comment {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; BACKGROUND-COLOR: #eee
}
.main .left .comment .more {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.main .left .comment .list {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.main .left .comment .list DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px
}
.main .left .comment .list DL DT {
	PADDING-LEFT: 10px; FONT-SIZE: 13px; BORDER-LEFT: #d9d9d9 5px solid; COLOR: #333; LINE-HEIGHT: 25px; BORDER-BOTTOM: #d9d9d9 2px solid
}
.main .left .comment .list DL DT SPAN {
	FONT-SIZE: 11px; COLOR: #390
}
.main .left .comment .list DL DD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; MARGIN: 10px; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 5px
}
.main .left .comment .post {
	PADDING-RIGHT: 10px; BORDER-TOP: #999 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 20px
}
.main .left .comment .post FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.main .left .comment .post LABEL {
	DISPLAY: block; LINE-HEIGHT: 30px
}
.main .left .comment .post .btn {
	MARGIN-TOP: 8px; DISPLAY: block; PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
.main .right {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #ccc 1px dashed; WIDTH: 222px; PADDING-TOP: 10px
}
.main .right .nav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.main .right .nav .title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #404040; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px dashed; HEIGHT: 20px
}
.main .right .nav .box {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 6px
}
.main .right .nav .box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 200px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; TEXT-OVERFLOW: ellipsis
}
.main .right .nav .box UL LI {
	
}
.main .right .down {
	BORDER-TOP: #e0e0e0 4px solid; BORDER-BOTTOM: #e0e0e0 4px solid; BACKGROUND-COLOR: #f7f7f7
}
.main .right .down A {
	COLOR: #390; TEXT-DECORATION: underline
}
.main .right .down A:hover {
	TEXT-DECORATION: none
}
.foot {
	PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 15px; LINE-HEIGHT: 25px; PADDING-TOP: 15px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.foot SPAN {
	COLOR: #693
}
.page {
	FONT-SIZE: 14px; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.page A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FLOAT: left; MARGIN: 5px 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #390; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; LETTER-SPACING: 0px; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.page SPAN {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FLOAT: left; MARGIN: 5px 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #390; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; LETTER-SPACING: 0px; HEIGHT: 18px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.page A:hover {
	BORDER-RIGHT: #f44 1px solid; BORDER-TOP: #f44 1px solid; BORDER-LEFT: #f44 1px solid; COLOR: #f44; BORDER-BOTTOM: #f44 1px solid
}
.page A.current {
	BORDER-RIGHT: #f44 1px solid; BORDER-TOP: #f44 1px solid; BORDER-LEFT: #f44 1px solid; COLOR: #f44; BORDER-BOTTOM: #f44 1px solid
}
.page INPUT {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px -5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #fff 0px solid; WIDTH: 25px; COLOR: #390; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 16px; TEXT-ALIGN: center
}
